@page "/usuario/edit/{id:int}"

@using PruebaTecnica.ClienteBlazor.Models;
@inject HttpClient Http;
@inject NavigationManager Navigation;

<h3>Modificar Usuario</h3>

<EditForm Model="@_usuario" OnValidSubmit="Put">
    <MudGrid>
        <MudItem xs="12" sm="7">
            <div class="form-group">
                <MudNumericField @bind-Value="_usuario.IdRol" Label="Id Rol" Variant="Variant.Outlined"></MudNumericField>
            </div>
             <br />
            <div class="form-group">
                <MudTextField @bind-Value="_usuario.Nombre" Label="Nombres" Variant="Variant.Outlined"></MudTextField>
            </div>
            <br />
            <div class="form-group">
                <MudTextField @bind-Value="_usuario.Apellido" Label="Apellidos" Variant="Variant.Outlined"></MudTextField>
            </div>
            <br />
            <div class="form-group">
                <MudTextField @bind-Value="_usuario.CorreoElectronico" Label="Correo Electronico" Variant="Variant.Outlined"></MudTextField>
            </div>
             <br />
            <div class="form-group">
                <input type="submit" class="btn btn-success" value="Guardar" />
            </div>
        </MudItem>
    </MudGrid>
</EditForm>

@code {
    [Parameter]
    public int Id { get; set; }

    private Usuario _usuario = null;

    protected override async Task OnInitializedAsync()
    {
        _usuario = await Http.GetFromJsonAsync<Usuario>($"/api/Usuario/Buscar/{Id}");
    }


    private async Task Put()
    {
        await Http.PutAsJsonAsync<Usuario>($"/api/Usuario/Editar/{_usuario.Id}", _usuario);
        Navigation.NavigateTo("/usuarios");
    }
}
